/* line 1, default.scss */
body {
  font-family: Arial,Helvetica,'Trebuchet MS',Verdana,sans-serif;
  margin: 0;
}

/* line 7, default.scss */
* {
  box-sizing: border-box;
}

/* line 11, default.scss */
h1 {
  color: #f4c141;
  display: inline-block;
  padding-top: 10px;
  vertical-align: top;
}

/* line 18, default.scss */
p {
  margin: 0;
}

header {
    padding: 40px 0 0 20px;
}

/* line 22, default.scss */
.main_hero {
  background: #fff url(../pict/main.jpg) no-repeat;
  background-size: cover;
  background-position: 100% -315px;
  min-height: 100vh;
}

/* line 29, default.scss */
.logo {
  height: 100px;
  width: auto;
}

a.home_link {
    text-decoration: none;
}

header ul li {
    list-style: none;
    margin-top: 10px;
}

header ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
/* line 34, default.scss */
.tour_results {
  padding-left: 100px;
}

/* line 37, default.scss */

.champion_header {
    text-decoration: underline;
}
.tour_info {
    display: inline-block;
  padding: 40px 0 40px 60px;
    width: 49%;
}

.tour_records {
    display: inline-block;
    margin-top: 150px;
    width: 49%;
    vertical-align: top;
}

/* line 41, default.scss */
.round {
  font-weight: bold;
  padding-top: 20px;
  text-decoration: underline;
}

/* line 47, default.scss */
.standing {
  font-weight: bold;
}
